@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    -ms-overflow-style: none;
} 
::-webkit-scrollbar {
  display: none;
 }
   
html {
    font-size: 16px;
    scroll-behavior: smooth;
}

.all {
    width: 100vw;
    animation-name: fadein;
    animation-duration: 0.5s;
}

#head {
    position: fixed;
    top: 5vh;
    width:100%;
    height: 18vh;
}
#logo img {
    position: relative;
    float: left;
    left: 43.5%;
    width: 11.5%;
}

.content {
    display: flex;
    position: relative;
    top: 28vh;
    left: 1%;
    width: 98%;
    height: 55vh;
    overflow-y: scroll;
    flex-wrap: wrap;
}
.content div {
    width: 32.66%;
    height: 50vh;
    -webkit-filter: grayscale(100%);
    filter: gray;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
    overflow: hidden;
}
#image_1 img {
    position: relative;
    width: 100%;
    bottom: 3%;
}
#image_2 {
    position: relative;
    left: 1%;
    margin-bottom: 8%;
}
#image_2 img {
    position: relative;
    height: 100%;
    right: 20%;
}
#image_3 {
    position: relative;
    left: 2%;
}
#image_3 img {
    position: relative;
    height: 100%;
    right: 10%;
}
#image_4 img {
    position: relative;
    right: 21.5%;
    height: 100%;
}
#image_5 {
    position: relative;
    left: 1%;
    margin-bottom: 8%;
}
#image_5 img {
    position: relative;
    height: 135%;
    bottom: 20%;
}
#image_6 {
    position: relative;
    left: 2%;
}
#image_6 img {
    position: relative;
    height: 150%;
    bottom: 37%;
    right: 18%;
}
#image_7 img {
    position: relative;
    height: 100%;
    left: 11%;
}
#image_8 {
    position: relative;
    left: 1%;
}
#image_8 img {
    position: relative;
    right: 7%;
    width: 115%;
}
#image_9 {
    position: relative;
    left: 2%;
}
#image_9 img {
    position: relative;
    height: 100%;
    right: 20%;
}
.content :hover {
    animation-name: react;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

.menu {
    position: absolute;
    display: flex;
    top: 88vh;
    left: 1%;
    width: 98%;
    height: 7vh;
    font-size: 2.5rem;
    font-family: 'GmarketSansMedium';
}
#about {
    position: relative;
    left: 10%;
    width: 30%;
    text-align: left;
}
#portfolio {
    position: relative;
    left: 30%;
    width: 30%;
    text-align: right;
}

.menu a{
    text-decoration: none;
    color: rgb(80, 80, 80);
}
.menu a:hover {
    text-decoration: none;
    animation-name: fadein;
    animation-duration: 1s;
    color: rgb(80, 80, 80);
}
.menu a:active {
    text-decoration: none;
    color: rgb(80, 80, 80);
}
.menu a:visited {
    text-decoration: none;   
    color: rgb(80, 80, 80);
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes react {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.05);
        -webkit-filter: grayscale(0%);
    }
}

@media (max-width: 840px) {
    .content {
        display: flex;
        position: relative;
        top: 28vh;
        left: 1%;
        width: 98%;
        height: 55vh;
        overflow-y: scroll;
        flex-wrap: wrap;
    }
    .content div {
        width: 49%;
        height: 50vh;
        -webkit-filter: grayscale(100%);
        filter: gray;
        box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
        overflow: hidden;
    }
    #image_1 img {
        position: relative;
        width: 100%;
        bottom: 3%;
    }
    #image_2 {
        position: relative;
        left: 2%;
        margin-bottom: 8%;
    }
    #image_2 img {
        position: relative;
        height: 100%;
        right: 30%;
    }
    #image_3 {
        position: relative;
        left: 0%;
        margin-bottom: 8%;
    }
    #image_3 img {
        position: relative;
        height: 100%;
        right: 5%;
    }
    #image_4 {
        position: relative;
        left: 2%;
    }
    #image_4 img {
        position: relative;
        right: 35%;
        height: 100%;
    }
    #image_5 {
        position: relative;
        left: 0%;
        margin-bottom: 8%;
    }
    #image_5 img {
        position: relative;
        height: 100%;
        bottom: 0%;
    }
    #image_6 {
        position: relative;
        left: 2%;
    }
    #image_6 img {
        position: relative;
        height: 150%;
        bottom: 37%;
        right: 27%;
    }
    #image_7 {
        position: relative;
        left: 0%;
        margin-bottom: 8%;
    }
    #image_7 img {
        position: relative;
        height: 100%;
        left: 5%;
    }
    #image_8 {
        position: relative;
        left: 2%;
    }
    #image_8 img {
        position: relative;
        right: 7%;
        width: 115%;
    }
    #image_9 {
        position: relative;
        left: 0%;
    }
    #image_9 img {
        position: relative;
        height: 100%;
        right: 30%;
    }
}

@media (max-width: 500px) {
    #head {
        position: fixed;
        top: 4vh;
        width:100%;
        height: 18vh;
    }
    #logo img {
        position: relative;
        float: left;
        left: 43%;
        width: 14%;
    }
    .content {
        display: flex;
        position: relative;
        top: 16vh;
        left: 1%;
        width: 98%;
        height: 79vh;
        overflow-y: scroll;
        flex-wrap: wrap;
    }
    .content div {
        width: 96%;
        height: 50vh;
        -webkit-filter: grayscale(100%);
        filter: gray;
        box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
        overflow: hidden;
    }
    #image_1 {
        position: relative;
        left: 2%;
        margin-bottom: 8%;
    }
    #image_1 img {
        position: relative;
        width: 100%;
        bottom: 3%;
    }
    #image_2 {
        position: relative;
        left: 2%;
        margin-bottom: 8%;
    }
    #image_2 img {
        position: relative;
        height: 100%;
        right: 20%;
    }
    #image_3 {
        position: relative;
        left: 2%;
        margin-bottom: 8%;
    }
    #image_3 img {
        position: relative;
        height: 100%;
        right: 5%;
    }
    #image_4 {
        position: relative;
        left: 2%;
        margin-bottom: 8%;
    }
    #image_4 img {
        position: relative;
        right: 24%;
        height: 100%;
    }
    #image_5 {
        position: relative;
        left: 2%;
        margin-bottom: 8%;
    }
    #image_5 img {
        position: relative;
        height: 127%;
        bottom: 8%;
    }
    #image_6 {
        position: relative;
        left: 2%;
        margin-bottom: 8%;
    }
    #image_6 img {
        position: relative;
        height: 150%;
        bottom: 37%;
        right: 22%;
    }
    #image_7 {
        position: relative;
        left: 2%;
        margin-bottom: 8%;
    }
    #image_7 img {
        position: relative;
        height: 100%;
        left: 9%;
    }
    #image_8 {
        position: relative;
        left: 2%;
        margin-bottom: 8%;
    }
    #image_8 img {
        position: relative;
        right: 7%;
        width: 115%;
    }
    #image_9 {
        position: relative;
        left: 2%;
        margin-bottom: 8%;
    }
    #image_9 img {
        position: relative;
        height: 100%;
        right: 30%;
    }
    .menu {
        top: 0vh;
        font-size: 1rem;
    }
}