*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.intro {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
    animation-name: fadeout;
    animation-delay: .5s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
#logo {
    position: relative;
    top: 35%;
    left: 40%;
    width: 20%;
}
#logo img {
   width: 100%;
}

@keyframes fadeout {
    0% {
        background-color: black;
    }
    70% {
        background-color: white;
    }
    100% {
        background-color: white;
    }
}
